/* trying to make image a circle */
.circle{
    display: inline-block;
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    border: 10px solid white;

}

.circle img{
    width: auto;
    height: 550px;
    margin-top: -10px;
    margin-left: -30px;

}

/* background color */
body{
    background-color: #079EC3 ;

}

/* header */
header{
    background-color: #4BBAD5;
    text-align: center;
    padding-top: 15px;
}

/* main */
main{
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 20px;
}

/* trying to set image side by side */
.column{
    float: left;
    width: 30%;
    padding: 5px;
    border: 5px solid white;
}
.row::after{
    content:"";
    clear:both;
    display: table;
}