/* trying to make image a circle */
.circle{
    display: inline-block;
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    border: 10px solid white;

}

.circle img{
    width: auto;
    height: 550px;
    margin-top: -10px;
    margin-left: -30px;

}

/* background color */
body{
    background-color: #F1E4E1 ;
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    font-size: larger;
}

/* header */
header{
    background-color: #EFDBD7;
    text-align: center;
    padding-top: 15px;
}

/* main */
main{
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 20px;
}

/* trying to set image side by side */
.column{
    float: left;
    width: 30%;
    padding: 10px;
}


.column img{
    border: 5px solid black;

}

.row::after{
    content:"";
    clear:both;
    display: table;
}

.column figcaption{
    text-align: center;
}

h2{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

.about{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.email{
    text-align: center;
}

legend{
    text-align: center;
}